3層for.json
[{"id":"95a61612.afbaf8","type":"tab","label":"3 batch","disabled":false,"info":""},{"id":"9076b67d.eb5668","type":"inject","z":"95a61612.afbaf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["3a440965.acb616"]]},{"id":"3a440965.acb616","type":"function","z":"95a61612.afbaf8","name":"dataLength","func":"msg.dataLength = 900000\n\nreturn msg","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["7542e3c5.0304cc"]]},{"id":"24f847b1.17f298","type":"function","z":"95a61612.afbaf8","name":"set insertLength - index and slice","func":"msg.insertIndex = 0\n\nmsg.insertSlice = 1000\n\nmsg.insertCount = Math.ceil((msg.insertLength - 1) / msg.insertSlice)\n\nmsg.insertStatus = true\n\nreturn msg","outputs":1,"noerr":0,"x":520,"y":940,"wires":[["34edadf9.882c92","dac70fc4.62991","96ec5361.f69b1"]]},{"id":"9b8c4a7.124b2b8","type":"switch","z":"95a61612.afbaf8","name":"Check insertIndex","property":"insertIndex","propertyType":"msg","rules":[{"t":"lt","v":"insertCount","vt":"msg"},{"t":"eq","v":"insertCount","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":940,"wires":[["c10b8012.3e0b2"],["a56aad51.a3b0c"]]},{"id":"c10b8012.3e0b2","type":"function","z":"95a61612.afbaf8","name":"insertIndex+= 1","func":"// beginItem & endItem\nmsg.insertBeginItem = msg.insertIndex * msg.insertSlice\nmsg.insertEndItem = ((msg.insertIndex + 1) * msg.insertSlice) - 1\n\n// insertIndex += 1\nmsg.insertIndex += 1\n\nreturn msg","outputs":1,"noerr":0,"x":1180,"y":940,"wires":[["34edadf9.882c92","9905bc2a.77a5a","add68d22.1cff6","3b0f8568.19e5aa","8f560f6a.71652"]]},{"id":"34edadf9.882c92","type":"switch","z":"95a61612.afbaf8","name":"","property":"insertStatus","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":940,"wires":[["9b8c4a7.124b2b8"],["950e4062.cc893"]]},{"id":"a56aad51.a3b0c","type":"function","z":"95a61612.afbaf8","name":"insertStatus = false","func":"msg.insertStatus = false\n\nreturn msg","outputs":1,"noerr":0,"x":930,"y":1020,"wires":[["34edadf9.882c92"]]},{"id":"950e4062.cc893","type":"function","z":"95a61612.afbaf8","name":"insertIndex === insertCount","func":"console.log(`== insertCount-${msg.insertCount} === insertIndex-${msg.insertIndex} ==`)\n\nreturn msg","outputs":1,"noerr":0,"x":820,"y":1080,"wires":[["9937a0bc.0c805","bceb9384.d08b2"]]},{"id":"9937a0bc.0c805","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"insertStatus","targetType":"msg","x":790,"y":1140,"wires":[]},{"id":"9905bc2a.77a5a","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"insertIndex","targetType":"msg","x":1180,"y":1000,"wires":[]},{"id":"add68d22.1cff6","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"insertBeginItem","targetType":"msg","x":1200,"y":1060,"wires":[]},{"id":"3b0f8568.19e5aa","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"insertEndItem","targetType":"msg","x":1190,"y":1120,"wires":[]},{"id":"dac70fc4.62991","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"insertLength","targetType":"msg","x":470,"y":1000,"wires":[]},{"id":"34a8699e.6c3c06","type":"function","z":"95a61612.afbaf8","name":"set batchLength- index and slice","func":"msg.batchIndex = 0\n\nmsg.batchSlice = 10\n\nmsg.batchCount = Math.ceil((msg.batchLength - 1) / msg.batchSlice)\n\nmsg.batchStatus = true\n\nreturn msg","outputs":1,"noerr":0,"x":510,"y":1300,"wires":[["c3dcc83b.9b9d58","16810763.7c7b79","4e0e9c8.487ec64"]]},{"id":"3475bf3.e4e6b4","type":"switch","z":"95a61612.afbaf8","name":"CheckbatchIndex","property":"batchIndex","propertyType":"msg","rules":[{"t":"lt","v":"batchCount","vt":"msg"},{"t":"eq","v":"batchCount","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":1300,"wires":[["dd3441d5.d99c5"],["2c6ca065.dbe0f"]]},{"id":"dd3441d5.d99c5","type":"function","z":"95a61612.afbaf8","name":"insertIndex+= 1","func":"// beginItem & endItem\nmsg.batchBeginItem = msg.batchIndex * msg.batchSlice\nmsg.batchEndItem = ((msg.batchIndex + 1) * msg.batchSlice) - 1\n\n// batchIndex += 1\nmsg.batchIndex += 1\n\nreturn msg","outputs":1,"noerr":0,"x":1180,"y":1300,"wires":[["c3dcc83b.9b9d58","77a8991e.a328d8","61d39950.f91fc8","c61bb3a0.fb55e"]]},{"id":"c3dcc83b.9b9d58","type":"switch","z":"95a61612.afbaf8","name":"","property":"batchStatus","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":1300,"wires":[["3475bf3.e4e6b4"],["69ebb30d.4d6d4c"]]},{"id":"2c6ca065.dbe0f","type":"function","z":"95a61612.afbaf8","name":"batchStatus = false","func":"msg.batchStatus = false\n\nreturn msg","outputs":1,"noerr":0,"x":930,"y":1380,"wires":[["c3dcc83b.9b9d58"]]},{"id":"69ebb30d.4d6d4c","type":"function","z":"95a61612.afbaf8","name":"batchIndex === batchCount","func":"console.log(`== insertCount-${msg.insertCount} === insertIndex-${msg.insertIndex} ==`)\n\nreturn msg","outputs":1,"noerr":0,"x":820,"y":1440,"wires":[["6419264d.cbcfc8"]]},{"id":"be561d1c.c01e","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"batchStatus","targetType":"msg","x":950,"y":1500,"wires":[]},{"id":"77a8991e.a328d8","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"batchIndex","targetType":"msg","x":1180,"y":1360,"wires":[]},{"id":"61d39950.f91fc8","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"batchBeginItem","targetType":"msg","x":1200,"y":1420,"wires":[]},{"id":"c61bb3a0.fb55e","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"batchEndItem","targetType":"msg","x":1190,"y":1480,"wires":[]},{"id":"16810763.7c7b79","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"batchLength","targetType":"msg","x":470,"y":1360,"wires":[]},{"id":"f62d984d.785be8","type":"comment","z":"95a61612.afbaf8","name":"3 rd","info":"","x":430,"y":1240,"wires":[]},{"id":"4e0e9c8.487ec64","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"batchCount","targetType":"msg","x":460,"y":1420,"wires":[]},{"id":"96ec5361.f69b1","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"insertCount","targetType":"msg","x":460,"y":1060,"wires":[]},{"id":"c43ad6e1.4393c8","type":"inject","z":"95a61612.afbaf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":940,"wires":[["43365ba8.51cc74"]]},{"id":"43365ba8.51cc74","type":"function","z":"95a61612.afbaf8","name":"insertLength","func":"// msg.insertLength = 100000\nmsg.insertLength = msg.endItem - msg.beginItem + 1\n\nreturn msg","outputs":1,"noerr":0,"x":270,"y":940,"wires":[["24f847b1.17f298"]]},{"id":"8f560f6a.71652","type":"function","z":"95a61612.afbaf8","name":"batchLength","func":"// msg.batchLength = 10000\n\nmsg.batchLength = msg.insertEndItem - msg.insertBeginItem + 1\n\nreturn msg","outputs":1,"noerr":0,"x":270,"y":1300,"wires":[["34a8699e.6c3c06"]]},{"id":"c57690f9.1d77f","type":"inject","z":"95a61612.afbaf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1300,"wires":[["8f560f6a.71652"]]},{"id":"7542e3c5.0304cc","type":"function","z":"95a61612.afbaf8","name":"stratTime","func":"msg.stratTime = new Date()\n\nreturn msg","outputs":1,"noerr":0,"x":460,"y":60,"wires":[["6513bfb9.e1dbe","7ec0433d.bf017c"]]},{"id":"6419264d.cbcfc8","type":"function","z":"95a61612.afbaf8","name":"endTime","func":"msg.endTime = new Date()\n\nmsg.timer = msg.endTime - msg.stratTime\n\nreturn msg","outputs":1,"noerr":0,"x":760,"y":1500,"wires":[["be561d1c.c01e","6cbfa81f.a617f8"]]},{"id":"6cbfa81f.a617f8","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"timer","targetType":"msg","x":920,"y":1560,"wires":[]},{"id":"6513bfb9.e1dbe","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stratTime","targetType":"msg","x":640,"y":60,"wires":[]},{"id":"7ec0433d.bf017c","type":"function","z":"95a61612.afbaf8","name":"ftp data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["2c8fe5dc.a31cea","be5aed56.d3004"]]},{"id":"2c8fe5dc.a31cea","type":"function","z":"95a61612.afbaf8","name":"txt to json","func":"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["bfeddd69.811c6","a9747a5e.548968"]]},{"id":"bfeddd69.811c6","type":"function","z":"95a61612.afbaf8","name":"check data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["9e7c2b99.4ddda8","ca68f4a2.c2c0b8","ae7d9454.bb8b48","3553b994.802636"]]},{"id":"1664c8.291a2b39","type":"function","z":"95a61612.afbaf8","name":"insert data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":220,"wires":[["557707e3.9eeaf8"]]},{"id":"9e7c2b99.4ddda8","type":"switch","z":"95a61612.afbaf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":160,"wires":[["620be98a.64c538"],["1664c8.291a2b39"]]},{"id":"620be98a.64c538","type":"function","z":"95a61612.afbaf8","name":"delete data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":160,"wires":[["1664c8.291a2b39"]]},{"id":"be5aed56.d3004","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":220,"wires":[]},{"id":"557707e3.9eeaf8","type":"function","z":"95a61612.afbaf8","name":"set dataLength - index and slice","func":"msg.dataRowIndex = 0\n\nmsg.dataRowSlice = 100000\n\nmsg.dataRowCount = Math.ceil((msg.dataLength - 1) / msg.dataRowSlice)\n\nmsg.dataRowStatus = true\n\nreturn msg","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["bceb9384.d08b2","ffd864a3.449438"]]},{"id":"fb016f81.88a76","type":"switch","z":"95a61612.afbaf8","name":"Check dataRowIndex","property":"dataRowIndex","propertyType":"msg","rules":[{"t":"lt","v":"dataRowCount","vt":"msg"},{"t":"eq","v":"dataRowCount","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":600,"wires":[["10ffe9ec.966e66","eaffb5e4.9f3ec8"],["5c9cd464.f0181c"]]},{"id":"10ffe9ec.966e66","type":"function","z":"95a61612.afbaf8","name":"dataRowIndex+= 1","func":"// beginItem & endItem\nmsg.beginItem = msg.dataRowIndex * msg.dataRowSlice\nmsg.endItem = ((msg.dataRowIndex + 1) * msg.dataRowSlice) - 1\n\n// dataRowIndex += 1\nmsg.dataRowIndex += 1\n\nreturn msg","outputs":1,"noerr":0,"x":1210,"y":600,"wires":[["969f9743.ec6758","1c64a23f.40d1ce","43365ba8.51cc74"]]},{"id":"2ad9a06a.83197","type":"function","z":"95a61612.afbaf8","name":"dataRowIndex === dataRowCount","func":"console.log(`== dataRowCount-${msg.dataRowCount} === dataRowIndex-${msg.dataRowIndex} ==`)\n\nreturn msg","outputs":1,"noerr":0,"x":860,"y":740,"wires":[["57775d88.6f3b04"]]},{"id":"eaffb5e4.9f3ec8","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"dataRowIndex","targetType":"msg","x":1210,"y":660,"wires":[]},{"id":"bceb9384.d08b2","type":"switch","z":"95a61612.afbaf8","name":"","property":"dataRowStatus","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":600,"wires":[["fb016f81.88a76"],["2ad9a06a.83197"]]},{"id":"5c9cd464.f0181c","type":"function","z":"95a61612.afbaf8","name":"dataRowStatus = false","func":"msg.dataRowStatus = false\n\nreturn msg","outputs":1,"noerr":0,"x":960,"y":680,"wires":[["bceb9384.d08b2"]]},{"id":"57775d88.6f3b04","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"dataRowStatus","targetType":"msg","x":820,"y":800,"wires":[]},{"id":"ffd864a3.449438","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"dataRowCount","targetType":"msg","x":490,"y":660,"wires":[]},{"id":"969f9743.ec6758","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"beginItem","targetType":"msg","x":1200,"y":720,"wires":[]},{"id":"1c64a23f.40d1ce","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"endItem","targetType":"msg","x":1190,"y":780,"wires":[]},{"id":"7822eaed.1b7c44","type":"comment","z":"95a61612.afbaf8","name":"1 st","info":"","x":450,"y":540,"wires":[]},{"id":"d41b7511.04b778","type":"comment","z":"95a61612.afbaf8","name":"2 nd","info":"","x":430,"y":880,"wires":[]},{"id":"3553b994.802636","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":340,"wires":[]},{"id":"ae7d9454.bb8b48","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":280,"wires":[]},{"id":"ca68f4a2.c2c0b8","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":220,"wires":[]},{"id":"eb4cfe58.33363","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"batchStatus","targetType":"msg","x":810,"y":400,"wires":[]},{"id":"a9747a5e.548968","type":"function","z":"95a61612.afbaf8","name":"endTime","func":"msg.endTime = new Date()\n\nmsg.timer = msg.endTime - msg.stratTime\n\nreturn msg","outputs":1,"noerr":0,"x":620,"y":400,"wires":[["eb4cfe58.33363","b55819ef.0c2198"]]},{"id":"b55819ef.0c2198","type":"debug","z":"95a61612.afbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"timer","targetType":"msg","x":790,"y":460,"wires":[]}]