data2_data4.json
[{"id":"b4309501.b4a958","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"faae2236.200f7","type":"inject","z":"b4309501.b4a958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["9eccaa7d.9243b8"]]},{"id":"84773796.4ed868","type":"function","z":"b4309501.b4a958","name":"hhmmssArr","func":"let hhmmssArr = []\n\nfor (let h = 0, hh = '' ; h < 24 ;  h++) {\n  hh = (h < 10) ? `0${h}`: h\n  \n  for (let m = 0, mm = '' ; m < 60 ;  m += 10) {\n    mm = (m < 10) ? `0${m}`: m\n    \n    hhmmssArr.push(`${msg.yyyymmdd} ${hh}:${mm}:00`)\n  }\n}\n\nmsg.hhmmssArr = hhmmssArr\n\nreturn msg","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["1e2f3b75.abb165"]]},{"id":"39f2cfb.645993","type":"debug","z":"b4309501.b4a958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"hhmmssArr","targetType":"msg","x":920,"y":80,"wires":[]},{"id":"9eccaa7d.9243b8","type":"function","z":"b4309501.b4a958","name":"yyyymmdd","func":"msg.yyyymmdd = '2018-01-01'\n\nmsg.date = {}\n\nreturn msg","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["84773796.4ed868"]]},{"id":"1e2f3b75.abb165","type":"function","z":"b4309501.b4a958","name":"[startTime, endTime]","func":"const hhmmssArr = msg.hhmmssArr\nlet Arr = []\n\nfor (let index in hhmmssArr) {\n  let startTime = hhmmssArr[index]\n  let endTime = hhmmssArr[index * 1 + 1]\n  \n  Arr.push([startTime, endTime])\n}\n\nmsg.Arr = Arr\n\nreturn msg","outputs":1,"noerr":0,"x":700,"y":80,"wires":[["39f2cfb.645993","2c255d31.566f22","6bcfe294.d070cc"]]},{"id":"c267d30d.fb1be","type":"moment","z":"b4309501.b4a958","name":"endDate","topic":"","input":"date.beginDate","inputType":"msg","inTz":"Asia/Taipei","adjAmount":"1","adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"zh_TW","output":"date.endDate","outputType":"msg","outTz":"Asia/Taipei","x":480,"y":140,"wires":[["6513f5a.7f5660c","606465e5.258c0c"]]},{"id":"2c255d31.566f22","type":"function","z":"b4309501.b4a958","name":"beginDate","func":"msg.date.beginDate = msg.hhmmssArr[0]\n\nreturn msg","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["c267d30d.fb1be"]]},{"id":"6513f5a.7f5660c","type":"debug","z":"b4309501.b4a958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"date","targetType":"msg","x":640,"y":140,"wires":[]},{"id":"6bcfe294.d070cc","type":"debug","z":"b4309501.b4a958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"Arr","targetType":"msg","x":1120,"y":80,"wires":[]},{"id":"606465e5.258c0c","type":"function","z":"b4309501.b4a958","name":"Set Data","func":"msg.data = {\n  count: msg.Arr.length - 1,\n  // count: 10,\n  index: 0,\n  currentLog12: 0\n}\n\nmsg.sql = {}\n\nreturn msg","outputs":1,"noerr":0,"x":300,"y":200,"wires":[["9c284023.7ba49","3ff1d5d1.bd2c2a"]]},{"id":"3ff1d5d1.bd2c2a","type":"switch","z":"b4309501.b4a958","name":"","property":"data.count","propertyType":"msg","rules":[{"t":"neq","v":"data.index","vt":"msg"},{"t":"lte","v":"data.index","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":200,"wires":[["c1e8eaf0.652688"],["2ba560e7.f17a3","fe24e0df.3d48d"]]},{"id":"8749d741.442748","type":"function","z":"b4309501.b4a958","name":"index++","func":"msg.data.index += 1\n\nreturn msg","outputs":1,"noerr":0,"x":920,"y":200,"wires":[["3ff1d5d1.bd2c2a"]]},{"id":"9c284023.7ba49","type":"debug","z":"b4309501.b4a958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"data","targetType":"msg","x":460,"y":200,"wires":[]},{"id":"2ba560e7.f17a3","type":"debug","z":"b4309501.b4a958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"data","targetType":"msg","x":780,"y":260,"wires":[]},{"id":"c1e8eaf0.652688","type":"function","z":"b4309501.b4a958","name":"log12","func":"msg.sql[msg.Arr[msg.data.index][1]] = {\n    log: `Select * From data2 Where logtime = '${msg.Arr[msg.data.index][1]}'`,\n    log12: `Select Sum(log12) From data2 Where logtime Between '${msg.Arr[msg.data.index][0]}' And '${msg.Arr[msg.data.index][1]}'`,\n    log7: 0,\n    log8: 0,\n}\n\nreturn msg","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["8749d741.442748"]]},{"id":"fe24e0df.3d48d","type":"debug","z":"b4309501.b4a958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"sql","targetType":"msg","x":780,"y":320,"wires":[]}]